
img {
  width: 75%;
  margin: 0 auto;
}

body .inline-img img{
  height: 8em;
  display: inline-flex;
}

.container em {
  font-style: italic;
  color: blueviolet;
}

p {
  text-align: justify;
  font-family: monospace;
}

body {
  text-indent: 2em;
  caret-color: #00000000;
}

code {
  text-indent: 0px;
}

.code {
  text-indent: 0px;
}