---
layout: default
---

<div class="page-content">
    <div class="post-heading">
        {{ page.title }}
    </div>
    <div class="post-meta">
        <span>
            <a href="{{ page.url }}">{{ page.date | date:"%B %d, %Y" }}</a>
        </span>
        <span><i class="fa fa-ellipsis-v"></i></span>
        <span>
            {% for tag in page.tags %}
            <a href="/tags.html#{{ tag }}-ref">{{ tag }}</a>
            {% endfor %}
        </span>
        <span>
            <a class="pull-right" href="{{ page.url }}#disqus_thread"> Comments </a>
        </span>
    </div>
    <div class="post-entry">
        {{ content }}
    </div>
</div>
<div class="post-blank post-pager">
    <ul class="pager">
        {% if page.previous %}
        <a class="pull-left" href="{{ page.previous.url }}">&larr; {{ page.previous.title }} </a>
        {% endif %}
        {% if page.next %}
        <a class="pull-right" href="{{ page.next.url }}">{{ page.next.title }} &rarr;</a>
        {% endif %}
    </ul>
</div>
{% include disqus.html %}
{% include disqus_cnt.html %}
